@keyframes parallax-background {
    0% {background-position-x: 0px;}
    100% {background-position-x: -2729px;}
}

@keyframes pez{
    0% {background-position-x: 0px;}
    100% {background-position-x: 768px;}
}

@keyframes muerte{
    0% {background-position-x: 0px;}
    100% {
        background-position-x: -898px;
        display: none;
    }    
}

@keyframes tiburon{
    0% {background-position-x: 0px;}
    100% {background-position-x: 1641px;}
}

@keyframes aguaviva{
    0% {background-position-x: 0px;}
    100% {background-position-x: 664px;}
}

@keyframes latir{
    0% {transform: scale(0.7);}
    50% {transform: scale(1);}
    100% {transform: scale(0.7);}  
}

@keyframes desaparecer{
    /* from {
        opacity: 1;
    }    
    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    } */

    100% {transform: translate3d(0, -2000px, 0);}
}

@keyframes moverObjeto{
    100%{
        transform: translate(-1700px, 10px);
    }
}

@keyframes aparecer {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}

/* FONDO */
#parallax-background{
    background-image: url(../images/oceano.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

/* PEZ */
#avatar{
    position: absolute;
    z-index: 2;
}

.animacion-fondo{
    animation: parallax-background linear 20s infinite;
}

.jugando {
    width: 128px;
    height: 128px;
    background-image: url(../images/swin.png);
    animation: pez steps(6) 1s infinite;
}

.subiendo{
    transform: rotate(-10deg);
}

.bajando{
    transform: rotate(10deg);
}

.movimiento-tiburon{
    animation: tiburon steps(7) 1s infinite, moverObjeto linear 4s 1;
}

.movimiento-aguaviva{
    animation: aguaviva steps(5) 2s infinite, moverObjeto linear 4s 1;
}

.movimiento-ostra{
    animation: latir linear 2s infinite, moverObjeto linear 4s 1;
}

.desaparecer{
    animation: desaparecer linear .5s 1;
}

.muerte{
    background-image: url(../images/bubles2.png);
    width: 126px;
    height: 103px;
    animation: muerte steps(7) 1s 1;
}

/* objeto para sumar puntos*/
.ostra{
    background-image: url(../images/puntos2.png);
    position: absolute;
    width: 50px;
    height: 50px;    
} 

.aguaviva{
    background-image: url(../images/jellyfish2.png);
    position: absolute;
    width: 133px;
    height: 130px;
}

.tiburon{
    background-image: url(../images/tiburon2.png);
    position: absolute;
    width: 235px;
    height: 125px;
}

.puntaje{
    display: flex;
    justify-content: space-between;
}

.mensaje-juego img{    
    width: 60%;
    padding: 40px;    
} 

.mensaje-juego{
    background-color: #0B646D;
    opacity: 0.7;
    padding: 10px;
    display: flex;
    animation: aparecer ease-in-out 1s 1;
    flex-direction: column;
    align-items: center;
}

#inicio{
    background-color: #0B646D;
    opacity: 0.8;
    width: 60%;
    border-radius: 15px;
    margin-top: 50px;
}

.controles img{
    width: 50%;
}

.controles, #inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio div{
    padding: 10px;
}

.mensaje-controles p{
    color: white;
}
 
.oculto{
    display: none;
}

.puntaje p{
    font-size: 35px;
    color: white;
    margin: 0;
}

.puntaje-actual {
    display: flex;
    align-items: center;
}

.timer-container{
    margin-right: 1%;
}