body {
  background-color: #e8ddb1;
}

header {
  height: 6rem;
  /* display: flex; */
  border: solid 1px #f6998b;
  background-image: url("../images/fondo.jpg");
  margin-bottom: 20px;
}

canvas {
  border: solid 1px #f6998b;
  background-color: white;
  box-shadow: 1px 1px 9px 6px #f5c891;
}

.container {
  display: flex;
  justify-content: space-between;
}

#colores-container {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 400px;
}

#container-filtros {
  display: none;
  justify-content: space-around;
}

#colores-container.active,
#container-filtros.active,
.herramientas {
  display: flex;
}

.herramientas {
  flex-direction: column;
  align-items: center;
}

.lapiz {
  display: flex;
}

.herramientas > div {
  margin: 10px;
}

button {
  border-radius: 2rem;
  padding: 4px 60px;
  background-color: #f6998b;
  border: none;
}

i {
  font-size: 2rem;
  color: black;
}

.active button,
.colores.active {
  border: 3px solid #01a189;
}

.colores {
  padding: 20%;
  border: 1px solid black;
  margin: 2px;
  width: 50%;
}

.verde-claro {
  background-color: #6bec2f;
}

.verde-oscuro {
  background-color: #007213;
}

.rojo {
  background-color: #f10202;
}

.amarillo {
  background-color: #f1ef44;
}

.violeta {
  background-color: #ca0cdb;
}

.azul {
  background-color: #170acf;
}

.celeste {
  background-color: #0ee2e2;
}

.naranja {
  background-color: #f35f1a;
}

.rosa {
  background-color: #fc4fe5;
}

.negro {
  background-color: #000000;
}

.marron {
  background-color: #692803;
}

.blanco {
  background-color: #ffffff;
}

.filtrosCanvas {
  height: 60px;
  margin-top: 10px;
}

.seleccionarImagen {
  display: none;
}
